@import url('../../index.css');
.main-card {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    text-wrap: nowrap;
}
.card-button-container {
    display: flex;
    gap: var(--gap);
    margin-top: 10px;
}

.card-content-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.card-ellipsis {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-top-content-container, .registry-data-container {
    display: flex;
    flex-direction: column;
}

.card-content-container-horizontal {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.card-bottom-content-container {
    display: flex;
    gap: var(--gap-2);
}

@media (min-width:600px) {
    .main-card {
        min-width: 420px;
    }
}